@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'),
       local('RobotoSlab-Bold'),
       url('../fonts/robotoslab.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'),
       local('SourceSansPro-Light'),
       url('../fonts/sourcesanspro.woff2') format('woff2');
}
