@import 'fonts';

$font-size-root: 16px;

$font-family-base: 'Source Sans Pro', sans-serif;
$line-height-base: 1.4;

$font-family-heading: 'Roboto Slab', sans-serif;
$line-height-heading: 1.2;

$spacing: 10px;

$text-color: #3d3d3d;
$text-muted: lighten(#3d3d3d, 15%);
$gray: #eee;
$gray-light: lighten($gray, 2%);
$gray-lighter: lighten($gray, 4%);

@mixin form-reset {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: $spacing;
  -webkit-appearance: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: $font-size-root;
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: $line-height-base;
  min-width: 320px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
}

li:not(:last-child) {
  margin-bottom: 1px;
}

li:not(:last-child):after {
  content: '';
  position: absolute;
  left: $spacing;
  bottom: -1px;
  width: calc(100% - #{$spacing * 2});
  border-bottom: 1px solid $gray-lighter;
}

.editable {
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $spacing;
}

.editable__value {
  border-bottom: 2px solid $gray-light;

  &:before,
  &:after {
    content: '\00a0';
  }
}

button {
  @include form-reset;
  cursor: pointer;
  text-align: left;

  &:focus,
  &:hover {
    background-color: $gray-lighter;
  }

  &:before {
    $size: 18px;

    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: $spacing / 2;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $gray;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg height="10" width="10" viewBox="0 0 32 32" fill="#{$text-muted}" xmlns="http://www.w3.org/2000/svg"><path d="M28 14H18V4c0-1.104-.896-2-2-2s-2 .896-2 2v10H4c-1.104 0-2 .896-2 2s.896 2 2 2h10v10c0 1.104.896 2 2 2s2-.896 2-2V18h10c1.104 0 2-.896 2-2s-.896-2-2-2z"></path></svg>');
    background-position: center center;
    background-size: 10px;
    background-repeat: no-repeat;
  }
}

footer {
  position: relative;
  background-color: $gray;

  label {
    font-size: 0.6rem;
    text-transform: uppercase;
    position: absolute;
    left: $spacing;
    top: $spacing;
  }
}

#copy-label {
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  margin: $spacing;

  input {
    margin-right: $spacing / 2;
  }
}

select {
  @include form-reset;
  cursor: pointer;
  font-family: Roboto Slab, sans-serif;
  font-size: 1.4rem;
  padding-top: $spacing * 2;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg height="50" width="50" viewBox="0 0 50 50" fill="#{$text-muted}" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h50v50H0z"></path><path d="M47.25 15l-2.086-2.086L25 33.078 4.836 12.914 2.75 15 25 37.25"></path></svg>');
  background-position: center right $spacing;
  background-size: 20px;
  background-repeat: no-repeat;
}
