$font-family-base: Source Sans Pro, sans-serif;
$font-size-root: 16px;
$font-size-base: 1rem;
$line-height-base: 1.4;

$color-primary: #dcf1b2;
$color-secondary: darken($color-primary, 30%);
$color-text: darken($color-primary, 68%);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

body {
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 1rem;
  line-height: $line-height-base;
  color: $color-text;
  padding: 1rem;
  min-width: 200px;
}

h1 {
  line-height: 1.2;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0.2rem 0;
}

select {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 0.8rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  li {
    float: left;
    width: (100% / 6);

    &:first-child button {
      border-radius: 6px 0 0 6px;
    }

    &:last-child button {
      border-radius: 0 6px 6px 0;
    }

    button {
      cursor: pointer;
      display: block;
      width: 100%;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      border: 0;
      background: $color-primary;
      padding: 6px;

      &:hover {
        background: $color-secondary;
      }

      &:focus {
        outline: none;
        background: darken($color-secondary, 10%);
      }
    }
  }
}
